.wrapper {
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
	line-height: 1.5em;
}

.postHeader {
	margin-top: 1em;
	text-align: center;
}

.postHeader h2 {
	margin: 5px 0;
	font-size: 1.7em;
}

.postHeader h4 {
	margin: 7px 0;
	font-weight: 400;
}

.postHeader a {
	text-transform: uppercase;
	opacity: 0.7;
}

.postHeader a:hover {
	opacity: 1;
}

.postBody {
	margin-top: 1.5em;
}

.postBody h1 {
	line-height: 1.2em;
}

.endLinks {
	display: flex;
	border-top: 2px rgba(0, 0, 0, .1) solid;
	padding: 20px 0;
}

.endLinks div {
	width: 50%;
}

.endLinks div .arrows {
	font-size: 1.2em;
	font-family: Terminus;
	margin: 0 0.3em;
}
