@font-face {
	font-family: "Roboto";
	src: url("/blog/fonts/roboto/Roboto-Regular.ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains";
	src: url("/blog/fonts/jetbrains/static/JetBrainsMono-Regular.ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Terminus";
	src: url("/blog/fonts/terminus/terminus_500.ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

html, body {
	background-color: #f8f9fa;
	margin: 0;
	padding: 0;
	font-family: "Roboto";
	font-size: 15px;
}

a {
	color: #C500ED;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*
** screen media queries
*/

/* mobile */
@media screen and (min-width: 480px) {
	html, body {
		font-size: 16px;
	}
}

/* tablet */
@media screen and (min-width: 768px) {
	html, body {
		font-size: 17px;
	}
}

/* desktop */
@media screen and (min-width: 1024px) {
	html, body {
		font-size: 18px;
	}
}
